Source: pika-theme-sound
Section: gnome
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/PikaOS-Linux/pkg-pika-theme-sound

Package: pika-theme-sound
Architecture: all
Description: Pika Sounds
Depends: gnome-session-canberra, libglib2.0-bin
